body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit; 
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.button {
    display: inline-block;
    background-color: darkred; 
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.button:hover {
    background-color:lightslategray;
    color: #fff;
}

.button.seconday {
    background-color: transparent;
    color:#333;
    border: 1px solid #333;
}

.button.small {
    padding: 8px 15px;
    font-size: 0.9em;
}

header {
    background-color: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    font-weight: 700;
}


.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav li {
    margin-left: 20px;
}

.main-nav a {
    color: #333;
    text-decoration: none;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: #555;
    transition: color 0.3s ease;
}

nav a:hover {
    color: darkred;
}

.header-icons a {
    margin-left: 15px;
    font-size: 1.2em;
    color: #555;
    transition: color 0.3s ease;
}

.header-icons a:hover {
    color: darkred;
}

.hero {
    position: relative;
    height: 500px; 
    overflow: hidden; 
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align:left;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
}

.hero-content h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.eventi {
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.eventi-text h2 {
    margin-bottom: 15px;
}

.eventi-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.eventi-image img {
    display: block;
    width: 100%;
    height: auto;
}
.eventi-image {
    flex: 0 0 40%;
    margin-right: 2rem;
}

.eventi-text {
    flex:1;
}

.eventi-text.button.seconday {
    margin-top: 10px;
    display: inline-block;
}

.featured-products {
    padding: 20px;
    text-align: center;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(33% - 20px);
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
}

.product-card img {
    max-width: 100%;
    height: auto;
    max-height: 150px;
    margin-bottom: 10px;
    object-fit: contain;
}

.product-card h3 {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.product-card .product-category {
    display: block;
    font-size: 0.9em;
    color: #777;
    margin-bottom: 10px;
}

.product-card .button.small {
    font-size: 0.8rem;
    padding: 8px 15px;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    font-size: 0.9em;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-contact,.footer-links {
    margin-bottom: 20px;
}

.footer-links ul li {
    margin-bottom: 8px;
}

.footer-copyright {
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #555;
}


@media (max-width: 768px) {
    .main-nav {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #333;
        width: auto;
        z-index: 10;
        border-top: 1px solid #555;
    }
    .main-nav ul {
        flex-direction: column;
        padding: 10px;
        text-align: right;
    }

    .main-nav li {
        margin-left: 0;
        margin-bottom: 10px;
        text-align: right;
        border-bottom: 1px solid #555;
    }

    .main-nav li:last-child {
        border-bottom: none;
    }

    .main-nav a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 8px 15px;
    }

    .header-icons a:nth-child(1) {
        display: none;
    }

    .header-icons a:nth-child(2) {
        display: none;
    }

    .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo a {
        text-align:  left;
        flex-grow: 1;
    }
    
    nav ul {
        margin-top: 10px;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .header-icons {
        margin-top: 15px;
    }

    .eventi-content {
        flex-direction: column;
        text-align: center;
    }

    .eventi-text {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .product-grid {
        flex-direction: column;
        align-items: center;
    }

    .product-card {
        width: 80%;
        margin: 15px 0;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-links ul {
        text-align: center;
    }

}